* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: "Inter", sans-serif;
  color: #333;
}

body {
  min-height: 100vh;
}

button,
a {
  cursor: pointer;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 24px;
}

// =============================================================
.app {
  width: 100%;
  padding: 8px 0;
}

.app__inner {
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .location {
    display: flex;
    flex-direction: column;
    gap: 10px;
    & > p {
      color: #83899f;
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
    }

    span {
      display: flex;
      align-items: center;
      img {
        width: 24px;
        height: 24px;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
      }
    }
  }
  .notifications {
    display: flex;
    gap: 16px;
    li {
      border-radius: 100%;
      width: 48px;
      height: 48px;
      padding: 10px;
      background-color: #ececec;
      img {
      }
    }
  }
}

.filter {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  margin-top: 24px;
  .input_wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1;
    padding: 11px 12px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border: 1px solid #e3e3e3;
    img {
      width: 24px;
      height: 24px;
    }
    input {
      height: 16px;
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      line-height: 100%;
      border: none;
      &::placeholder {
        color: #bebfbe;
      }
    }
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 48px;
    height: 48px;
    background-color: #c80039;
    border-radius: 10px;
  }
}

.banner {
  // height: 200px;
  margin-top: 16px;

  .mySwiper {
    .swiper-wrapper {
      margin-bottom: 30px;
      .swiper-slide {
        display: flex;
        align-items: center;
      }
    }

    .swiper-item {
      position: relative;
      margin-top: 16px;
      width: 100%;
      // min-height: 272px;
      // height: clamp(272px,1vw,382px);
      // height: calc(38vw + 8px);

      padding: 0 24px;

      .img-1 {
        // position: absolute;
        display: flex;
        flex: 1;
        width: 100%;
        height: 100%;
        height: 162px;
        // z-index: 1;
        box-shadow: 3.6px 7.2px 21.6px 0px #1bac4b40;
        border-radius: 31px;
        border-top-left-radius: 0;
        object-fit: cover;
      }

      .img-2 {
        position: absolute;

        // width: clamp(150px,);
        // height: 190px;
        bottom: 0;
        right: 0;
        z-index: 2;
        display: none;
      }
    }

    .swiper-pagination {
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: center;

      &-bullet {
        display: flex;
        align-items: center;
        margin: 0;
        // background-color: #83899f3d;

        &-active {
          height: 10px;
          width: 10px;
          border-radius: 100%;
          background-color: #c80039;
        }
      }
    }
  }
}

.category {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    p {
      font-size: 18px;
      font-weight: 500;
      line-height: 100%;
      color: rgba(51, 51, 51, 1);
    }
    span {
      font-size: 16px;
      font-weight: 400;
      color: rgba(200, 0, 57, 1);
      line-height: 100%;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        width: 72px;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: rgba(228, 233, 236, 1);
        border-radius: 100%;
        margin-bottom: 8px;
        img {
          width: 40px;
          height: 48px;
          object-fit: contain;
        }
      }
      p {
        line-height: 100%;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}

.discount {
  margin-top: 24px;

  &__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    text-transform: capitalize;
    margin-bottom: 16px;
    margin-left: 24px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    .swiper-slide {
      display: flex;
      width: 29vw !important;
      height: 220px;
      margin-right: 14px;
    }
    .card {
      width: 100%;
      height: 100%;
      display: flex;
      // align-items: center;
      flex-direction: column;
      padding: 6px;
      background-color: rgba(238, 242, 245, 1);
      border-radius: 12px;
      &__image {
        // height: 102px;
        // width: 102px;

        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        padding: 11px;
        background-color: rgba(255, 255, 255, 1);
        img {
          width: calc(78% + 34px);
        }
      }
      &__discount {
        height: 20px;
        width: 36px;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 6px;
        right: 6px;
        background-color: rgba(200, 0, 57, 1);
        padding: 4px 6px;
        border-radius: 100px;

        span {
          display: flex;
          align-items: center;
          font-size: 10px;
          color: rgba(255, 255, 255, 1);
        }
      }
      &__content {
        margin-top: 8px;
        & p {
          line-height: 100%;
        }
      }
      &__price-new {
        font-size: 12px;
        font-weight: 500;
        color: rgba(200, 0, 57, 1);
      }

      &__price-old {
        font-size: 11px;
        font-weight: 500;
        color: rgba(51, 51, 51, 0.64);
        text-decoration: line-through;
        margin-top: 6px;
      }
      &__title {
        font-size: 11px;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        margin-top: 9.5px;
      }
      &__category {
        font-size: 10px;
        font-weight: 400;
        color: rgba(131, 137, 159, 1);
        margin-top: 6px;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        padding: 6px 45px;
        border-radius: 8px;
        border-top-left-radius: 0;
        background-color: rgba(255, 255, 255, 1);
        margin-top: 8px;

        img {
          height: 12px;
          width: 12px;
        }
      }
    }
  }
}

.fruit {
  margin-top: 24px;
  margin-bottom: 70px;
  .section__title {
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    color: #333;
  }
  &__list {
    display: grid;
    gap: 14px;
    grid-template-columns: 1fr 1fr;
    margin-top: 16px;
  }
  &__item {
    width: 164px;
    width: 100%;
    // height: 260px;
    border-radius: 16px;
    background-color: rgba(238, 242, 245, 1);
    padding: 8px;
  }

  &__image-wrapper {
    position: relative;
    width: 100%;
    height: 148px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 1);
  }
  &__image {
    width: 100%;
    height: 100%;
  }
  &__favorite {
    position: absolute;
    top: 8px;
    right: 8px;
    img {
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    padding: 4px;
    margin-top: 4px;
    p {
      line-height: 100%;
    }
  }
  &__price {
    color: rgba(200, 0, 57, 1);

    font-weight: 500;
    font-size: 14px;
  }
  &__title {
    color: #333;
    font-weight: 400;
    font-size: 12px;
    margin-top: 10px;
  }
  &__category {
    color: #83899f;
    font-weight: 400;
    font-size: 10px;
    margin-top: 6px;
  }
  &__btn {
    display: flex;
    justify-content: center;

    width: 100%;
    background-color: #fff;
    color: rgba(200, 0, 57, 1);
    border: none;
    border-radius: 8px;
    border-top-left-radius: 0;

    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
    text-align: center;

    padding: 7px 0;
    margin-top: 8px;
  }
}
