.header {
  position: relative ;
  display: flex;
  align-items: center;
  gap: 13px;
  .btn__back {
    display: flex;
    height: 52px;
    width: 52px;
    border-radius: 100%;
    border: 1px solid #e3e3e3;
    padding: 12px;
    img {
      // height: 28px;
    }
  }
  &__title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #333;
  }
}
